<div class="h1">Hello Admin</div>
<div class="container-fluid">
    <div class="row justify-content-end text-center">
        <div class="col-4">
        </div>
        <div class="col-4">
            <div class="h1">
                Bonjour {{ app.user.prenom }} {{ app.user.nom }}
                {% for lists in list %}
                    {% if calId is defined and lists.id == calId %}
                        Planning de {{ lists.prenom }} {{ lists.nom }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-4">
            <div class="loggedUser">"Vous êtes connecté en tant que {{ app.user.prenom }} {{ app.user.nom }}"  </div>
            <a href="{{ path('app_logout') }}" class="btn btn-danger">Déconnexion</a>
            {% for lists in list %}
                <a href="{{ path('main_admin', {'id': lists.id}) }}">{{ lists.prenom }} {{ lists.nom }}</a><br/>
            {% endfor %}
        </div>
    </div>
</div>
<br />
<div id="calendrier">
</div>
<br />
{% set totalHour = 0 %}
{% for plannings in planning %}
    {% set totalHour = totalHour + plannings.date_diff %}
{% endfor %}
<div class="container-fluid">
    <div class="row justify-content-end text-center">
        <div class="col-4">
            <div class="h2">
                Total des heures : {{ totalHour }}
            </div>
        </div>
        <div class="col-4">
            <div class="h2">
                Total du mois : {{ totalHour }}
            </div>
        </div>
        <div class="col-4">
            <div class="h2">
                Total de la semaine : {{ totalHour }}
            </div>
        </div>
    </div>
</div>

