<div class="headerplanning container-fluid">
    <div class="row justify-content-end text-center">
        <div class="col-3">
        </div>
        <div class="col-6">
            <div class="h1">
                {% if calId is not defined %}
                    Planning de {{ app.user.prenom }} {{ app.user.nom }}
                {% endif %}
                {% for lists in list %}
                    {% if calId is defined and lists.id == calId %}
                        Planning de {{ lists.prenom }} {{ lists.nom }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-3">
          <p class="loggedUser">"Vous êtes connecté en tant que <b>{{ app.user.prenom }} {{ app.user.nom }}"</b></p>
          <a href="{{ path('app_logout') }}" class="btn btn-danger">Déconnexion</a>
          <a href="{{ path('admin') }}" class="btn btn-primary" target="_blank">Espace Administrateur</a>
        </div>
    </div>
</div>
<br />
<div class="container-fluid">
    <div class="row justify-content-end">
        <div class="decompteheure col-3">
            <div id="totalOfHoursInYear">
                <div class="h2 colorChange">
                    <h2>Total de l'année : <span class="hourHolder"></span> H</h2>
                </div>
                <div class="h2">
                    <h3>Soirs et week-end : <span class="extraHourHolder"></span> H</h3>
                </div>
                <div id="extraHourByCategoriesYear">
                    <!-- generated loop of categories goes here -->
                </div>
            </div>
            <br />
            <div id="totalOfHoursInMonth">
                <div class="h2 colorChange">
                    Total du mois : <span class="hourHolder"></span>  H
                </div>
                <div class="h2">
                    <h3>Soirs et week-end : <span class="extraHourHolder"></span> H</h3>
                </div>
                <div id="extraHourByCategoriesMonth">
                    <!-- generated loop of categories goes here -->
                </div>
            </div>
            <div id="totalOfHoursInWeek">
                <div class="h2 colorChange">
                    <h2>Total de la semaine : <span class="hourHolder"></span> H</h2>
                </div>
                <div class="h3">
                    <h3>Soirs et week-end : <span class="extraHourHolder"></span> H</h3>
                </div>
                <div id="extraHourByCategoriesWeek">
                    <!-- generated loop of categories goes here -->
                </div>
            </div>
            <div id="totalByCategories">
                <div class="h3">
                    <span class="hourByCategoryHolder"></span>
                </div>
            </div>
        </div>
        <div id="calendrier" class="col-7">
        </div>
        <div class="col-2 listeemploye">
            <h2 class="colorChange"> Liste des plannings </h2>
            <ul>
            {% for lists in list|sort((a, b) => a.prenom <=> b.prenom) %}
                {% if app.user.id == lists.id  %}
                    <li><a href="{{ path('main') }}">{{ app.user.prenom }} {{ app.user.nom }}</a></li>
                {% elseif app.user.id != lists.id %}
                    <li><a class="lienlisteemploye" href="{{ path('main_admin', {'id': lists.id}) }}">{{ lists.prenom }} {{ lists.nom }}</a></li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
