<div class="headerplanning container-fluid">
    <div class="row text-center">
        <div class="col-4">
        </div>
        <div class="col-4">
            <div class="h1">
                {% if calId is not defined %}
                    Planning de {{ app.user.prenom }} {{ app.user.nom }}
                {% endif %}
                {% for lists in list %}
                    {% if calId is defined and lists.id == calId %}
                        Planning de {{ lists.prenom }} {{ lists.nom }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-4">
            <div class="loggedUser">"Vous êtes connecté en tant que {{ app.user.prenom }} {{ app.user.nom }}"  </div>
            <a href="{{ path('app_logout') }}" class="btn btn-danger">Déconnexion</a><br />
            <a href="{{ path('main_chef', {'id': app.user.id}) }}">{{ app.user.prenom }} {{ app.user.nom }}</a><br/>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row justify-content-end">
        <div class="decompteheure col-3">
            <div id="totalOfHoursInYear" data-role="isNotAdmin">
                <div class="h2 colorChange">
                    <h2>Total de l'année : <span class="hourHolder"></span> H</h2>
                </div>
                <div class="h2">
                    <h2>Soirs et week-end : <span class="extraHourHolder"></span> H</h2>
                </div>
                <div id="extraHourByCategoriesYear">
                    <!-- generated loop of categories goes here -->
                </div>
            </div>
            <div id="totalOfHoursInMonth">
                <div class="h2 colorChange">
                    Total du mois : <span class="hourHolder"></span>  H
                </div>
                <div class="h2">
                    <h2>Soirs et week-end : <span class="extraHourHolder"></span> H</h2>
                </div>
                <div id="extraHourByCategoriesMonth">
                    <!-- generated loop of categories goes here -->
                </div>
            </div>
            <div id="totalOfHoursInWeek">
                <div class="h2 colorChange">
                    <h2>Total de la semaine : <span class="hourHolder"></span> H</h2>
                </div>
                <div class="h3">
                    <h2>Soirs et week-end : <span class="extraHourHolder"></span> H</h2>
                </div>
                <div id="extraHourByCategoriesWeek">
                    <!-- generated loop of categories goes here -->
                </div>
            </div>
            <div id="totalByCategories">
                <div class="h3">
                    <span class="hourByCategoryHolder"></span>
                </div>
            </div>
        </div>
        <div id="calendrier" class="col-7">
        </div>
        <div class="col-2 listeemploye">
            <h3> Liste des plannings </h3>
            {% if userService1 is defined %}
                <h2>{{ userService1 }}</h2>
                {% for lists in list %}
                    {% if lists.service[0] == userService1 and app.user.id != lists.id %}
                        <a href="{{ path('main_chef', {'id': lists.id}) }}">{{ lists.prenom }} {{ lists.nom }}</a><br/>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <br/>
            {% if userService2 is defined %}
                <h2>{{ userService2 }}</h2>
                {% for lists in list %}
                    {% if lists.service[0] == userService2 and app.user.id != lists.id %}
                        <a href="{{ path('main_chef', {'id': lists.id}) }}">{{ lists.prenom }} {{ lists.nom }}</a><br/>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
