<div class="container-fluid">
    <div class="row justify-content-end text-center">
        <div class="col-4">
        </div>
        <div class="col-4">
            <div class="h1">
                {% if calId is not defined %}
                    Planning de {{ app.user.prenom }} {{ app.user.nom }}
                {% endif %}
                {% for lists in list %}
                    {% if calId is defined and lists.id == calId %}
                        Planning de {{ lists.prenom }} {{ lists.nom }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-4">
            <div class="loggedUser">"Vous êtes connecté en tant que {{ app.user.prenom }} {{ app.user.nom }}"  </div>
            <a href="{{ path('app_logout') }}" class="btn btn-danger">Déconnexion</a>
            {% for lists in list %}
                {% if userService is defined and lists.service == userService %}
                <a href="{{ path('main_chef', {'id': lists.id}) }}">{{ lists.prenom }} {{ lists.nom }}</a><br/>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<br />
<div id="calendrier">
</div>
<div class="container-fluid">
    <div class="row justify-content-center text-center">
        <div id="totalOfHoursInYear" class="col-4">
            <div class="h2">
                Total de l'année : <span class="hourHolder"></span>
            </div>
        </div>
        <div id="totalOfHoursInMonth" class="col-4">
            <div class="h2">
                Total du mois : <span class="hourHolder"></span>
            </div>
        </div>
        <div id="totalOfHoursInWeek" class="col-4">
            <div class="h2">
                Total de la semaine : <span class="hourHolder"></span>
            </div>
        </div>
    </div>
</div>