{% extends 'base.html.twig' %}

{% block title %}Planning OPI{% endblock %}

{% block stylesheets %}
    <style>
        #calendrier {
            width: 60%;
            margin: auto;
        }
    </style>
{% endblock %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
{#        check if is admin#}
        {% if is_granted('ROLE_ADMIN') %}
            {{ include('calendar/_admin.html.twig') }}

{#            check if is chef de service#}
        {% elseif is_granted('ROLE_CHEFSERVICE') %}
            {{ include('calendar/_chef.html.twig') }}

{#            check if is normal user#}
        {% else %}
            {{ include('calendar/_user.html.twig') }}
        {% endif %}
    {%  else %}
        <div class="container-fluid">
            <div class="row justify-content-center text-center">
                <div class="col-offset-4 col-4">
                    <div class="h1">Merci de vous authentifier</div>
                </div>
            </div>
            <div class="row justify-content-center text-center">
                <div class="col-offset-4 col-4">
                    <a href="{{ path('app_login') }}" class="btn btn-primary">S'authentifier</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        window.onload = () => {
            let calendarEl = document.querySelector("#calendrier");
            let calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                locale: 'fr',
                timeZone: 'Europe/Paris',

                customButtons: {
                    myCustomButton: {
                        text: 'Ajouter un événement',
                        click: function() {
                        window.location.href = "{{ path('calendar_new') }}"
                        }
                    }
                },

                headerToolbar: {
                    start: 'prev,next today dayGridMonth,timeGridWeek',
                    center: 'title',
                    end: 'myCustomButton'
                },
                events: {{ planning|json_encode|raw }},

                eventClick: function(event) {
                    let eventId = event.event._def.publicId;
                    window.location.href = "/calendar/" + eventId + "/edit";
                }
            });

            // draggable
            calendar.on('eventChange', (e) => {
                let url = `/api/${e.event.id}/edit`;
                let donnees = {
                    "title": e.event.title,
                    "description": e.event.extendedProps.description,
                    "start": e.event.start,
                    "end": e.event.end,
                    "backgroundColor": e.event.backgroundColor,
                    "borderColor": e.event.borderColor,
                    "textColor": e.event.textColor,
                    "allDay": e.event.allDay
                };
                let xhr = new XMLHttpRequest;
                xhr.open("PUT", url);
                xhr.send(JSON.stringify(donnees));
            });

            calendar.render();
        };
    </script>
{% endblock %}
